.Buttonlogo{

  -fx-background-radius: 30px;
  -fx-background-color: #647D8c;
   -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
   -fx-padding: 5;
}
.Buttonlogo:hover {
-fx-scale-y: 1.1;
-fx-scale-x: 1.1;
  -fx-background-color:#647D8c;
}
.Buttongoogle{

  -fx-background-radius: 30px;
  -fx-background-color: #ffffff ;

   -fx-padding: 5;
}
.textlogo{
-fx-background-color: transparent;
-fx-border-color :#647D8c;
}
.HOMEPAGE1{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.deleteitem{

}
.deleteitem:hover{
    -fx-background-color: #ff4d4d;
}

